<%- include('./includes/header.ejs') %>
<div class="wrapper">
  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="./adminlte/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/" class="nav-link">Accueil</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="./adminlte/dist/img/GB.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Gestion Bibliotheque</span>
    </a>

    <!-- Sidebar -->
    <%- include('./includes/sidebar_livre') %>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Tableau de bord</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Accueil</a></li>
              <li class="breadcrumb-item active">Tableau de bord</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Livres</h3>
                <button data-target="#add-livre-modal" onclick="addLivrefunction()" data-toggle="modal" class="btn btn-outline-success shadow-lg float-right"><i class="fas fa-plus"></i> Ajouter livre</button>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered accent-dark table-hover accent-fuchsia">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Titre</th>
                      <th>Auteur</th>
                      <th>Editeur</th>
                      <th>Date de Parution</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let i = 0; i < livres.length; i++) {%>
                    <tr id="row-id-<%= livres[i].id %>">
                      <th scope="row" class="text-center"><%= livres[i].id %></th>
                      <td><%= livres[i].TitreLivre %></td>
                      <td><%= livres[i].AuteurLivre %></td>
                      <td><%= livres[i].EditeurLivre %></td>
                      <td><%= moment(livres[i].DateParution).format("DD-MM-YYYY") %></td>
                      <td class='text-center'>
                        <button type="button" data-target="#add-livre-modal" data-toggle="modal" class="btn " onclick="handleActionEdit('<%=`row-id-${livres[i].id}`%>')"><i class="fa fa-edit text-yellow"></i></button>
                        <button type="button" data-target="#delete-livre-modal" data-toggle="modal" class="btn " onclick="handleActionDelete('<%=`row-id-${livres[i].id}`%>')"><i class="fa fa-trash text-red"></i></button>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>

  <!--LIVRE FORM MODAL-->
  <div class="modal fade" id="add-livre-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modal_title">Ajouter Livre</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <!-- form start -->
              <div class="container add-menu">
                <div class="form-group">
                  <label for="exampleInputEmail1">Titre</label>
                  <input class="form-control" id="TitreLivre" placeholder="Menu Name">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Auteur</label>
                  <input class="form-control" id="AuteurLivre" placeholder="input your price here...">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Editeur</label>
                  <input class="form-control" id="EditeurLivre" placeholder="Menu Name">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Date Parution</label>
                  <input class="form-control" type="date" id="DateParution" placeholder="input your price here...">
                </div>
              </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fermer <i class="far fa-close"></i></button>
          <button type="submit" id="buttonInsert" class="btn btn-outline-success " onclick="handleInsertMenu()">Sauvegarder <i class="fa fa-save"></i></button>
          <button type="submit" id="buttonEdit" class="btn btn-outline-success ">Valider la modification <i class="fa fa-save"></i></button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <div class="modal fade" id="delete-livre-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modal_title">Suppression</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>Êtes-vous sûre de supprimer?</h3>
          <input class="form-control" type="hidden" id="id" placeholder="Menu Name">
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler <i class="far fa-close"></i></button>
          <button type="submit" id="buttonDelete" class="btn btn-outline-danger ">Supprimer <i class="fa fa-save"></i></button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  <!-- /.content-wrapper -->
  
  <%- include('./includes/footer.ejs') %>
  <script src="./js/script.js"></script>
  <script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });

      var Toast = Swal.mixin({
        toast: true,
        position: 'top-left',
        showConfirmButton: false,
        timer: 3000
      });

/*
      $('.swalDefaultSuccess').click(function() {
        $(document).Toasts('create', {
          title: 'Toast Title',
          class: 'bg-success',
          body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
      });
*/
    });
  </script>
  